attrs==22.1.0
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
greenlet==2.0.1
idna==3.4
iniconfig==1.1.1
Mako==1.2.4
MarkupSafe==2.1.1
packaging==22.0
parse==1.19.0
parse-type==0.6.0
playwright==1.28.0
pluggy==1.0.0
psutil==5.9.4
py==1.11.0
pyee==9.0.4
pytest==7.2.0
pytest-base-url==2.0.0
pytest-bdd==6.1.1
pytest-html==3.2.0
pytest-metadata==2.0.4
pytest-playwright==0.3.0
python-slugify==7.0.0
requests==2.28.1
six==1.16.0
slugify==0.0.1
text-unidecode==1.3
typing_extensions==4.4.0
urllib3==1.26.13
